<div class="row">
  <div class="col-sm-7">
    <p>The Form.io form builder interface allows you to embed a form builder within your application, which generates a JSON schema of the form created.</p>
    <p><a href="https://github.com/formio/angular-formio/wiki/Form-Builder" class="btn btn-primary" target="_blank"><span class="fa fa-book"></span> Builder Documentation</a></p>
    <p>
      One of the features of builder that user can change different options.
      For example language. Options can be provided via <code class="language-html">[options]</code> property.
    </p>
    <div class="card bg-light p-2">
      <pre><code class="language-html">&lt;form-builder [form]="form" [options]="options"&gt;&lt;/form-builder></code></pre>
    </div>
    <p>Options can be look like:</p>
    <div class="card bg-light p-2">
      <pre><code class="language-html">exprort const options = &#123;
  language: 'en',
  i18n: &#123;
    jp: &#123;
      'Label': 'ラベル',
      'Label Position': 'ラベルの位置',
      'Placeholder': 'プレースホルダー',
      'Description': '説明文'
    &#125;
  &#125;
&#125;
      </code></pre>
    </div>
    <p>Also builder can be updated with the new options via
      <code class="language-html">
        [rebuild]
      </code>
    </p>
    <div class="card bg-light p-2">
      <pre><code class="language-html">&lt;form-builder [form]="form" [options]="options" [rebuild]="rebuildEmitter.asObservable()"</code></pre>
    </div>
    <p>
      Rebuid emitter can be Observable and used to set the new options like this:
    </p>
    <div class="card bg-light p-2">
      <pre><code class="language-html">this.rebuildEmitter.next(this.options)</code></pre>
    </div>
  </div>
</div>
<div class="mb-2 mt-4">
  <button type="button" class="btn btn-primary mr-2" (click)="changeLanguage('en')">English</button>
  <button type="button" class="btn btn-primary" (click)="changeLanguage('jp')">日本語</button>
</div>
<form-builder [form]="form" (change)="onChange($event)" [options]="options" [rebuild]="rebuildEmitter.asObservable()"></form-builder>
<hr/>
<h3 class="text-center text-muted">As JSON Schema</h3>
<div class="well jsonviewer">
  <pre id="json"><code class="language-json" #json></code></pre>
</div>
